.completed{
    text-decoration: line-through;
    
}

.liItem{
    position: relative;
    padding: 4px;
    max-width: 50dvw;
    min-width: 25vw;
    display: flex;
    justify-content: space-between;
}

